<footer class="site-footer">
  <div class="container">
    <nav class="footer-nav">
      <a href="{{ base_path }}/">ホーム</a>
      <a href="{{ base_path }}/camera-bags/">カメラバッグ</a>
      <a href="{{ base_path }}/tripods/">三脚</a>
      <a href="{{ base_path }}/sd-cards/">SDカード</a>
      <a href="{{ base_path }}/about/">このサイトについて</a>
      <a href="{{ base_path }}/disclosure/">広告開示</a>
      <a href="{{ base_path }}/privacy/">プライバシーポリシー</a>
    </nav>
    <p class="affiliate-notice">当サイトはAmazonアソシエイトプログラム等のアフィリエイトプログラムに参加しています。<a href="{{ base_path }}/disclosure/">詳細はこちら</a></p>
    <p class="copyright">&copy; 2026 {{ site.title }}</p>
  </div>
</footer>
